aiohttp==3.8.4
async_property==0.2.2
asyncstdlib==3.10.9
beautifulsoup4==4.10.0
browser_cookie3==0.19.1
curl_cffi==0.5.10
duckduckgo_search==4.1.0
fastapi==0.108.0
Flask==2.2.3
loguru==0.5.3
nest_asyncio==1.5.6
Pillow==10.1.0
platformdirs==4.1.0
py_arkose_generator==0.0.0.2
pycryptodomex==3.11.0
PyExecJS==1.5.1
pyvirtualdisplay==3.0
quickjs==1.19.4
typing_extensions==4.9.0
undetected_chromedriver==3.5.4
uvicorn==0.25.0
langchain==0.0.352
streamlit==1.25.0
streamlit_option_menu==0.3.6
